.contacts   
    a.contact(href="tel:+3809999999")
        i.fas.fa-mobile.contact__icon
        span.contact__text 77777777


    a.contact(href="mailto:info@gmail.com")
        i.fas.fa-envelope
        span.contact__text info@gmail.com

    a.facebook-icon(href="facebok.com")    
        i.fab.fa-facebook