header.header
.header--top
    .container  
        .contacts   
            a.contact(hred="tel:+3809999999")
                i.fa.fas("fa-mobile")
                span.contact__text 654 6545
.header--bottom
